{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="finder_name">Full Name</label>
    <input name="finder_name" id="finder_name" required>
    <label for="phone">Phone numebr</label>
    <input name="phone" id="phone" required>
    <label for="finder_location">Your Location</label>
    <input name="finder_location" id="finder_location" required>
    <label for="email">Email</label>
    <input name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}