Babel==2.12.1
blinker==1.6.2
build==0.10.0
Cities==1.1
click==8.1.3
colorama==0.4.6
coverage==7.2.7
Flask==2.3.2
Flask-BabelEx==0.9.4
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-WTF==1.1.1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
-e git+https://github.com/eyoul/missing_person.git@254e88dc6ff8e8a068bcfc83ab4f30525ab03aef#egg=missing
numpy==1.24.3
packaging==23.1
passlib==1.7.4
pluggy==1.0.0
pycountry==22.3.5
PyPrind==2.11.3
pyproject_hooks==1.0.0
pytest==7.3.2
speaklater==1.3
Werkzeug==2.3.4
WTForms==3.0.1
