{% extends 'base.html' %}

{% block header %}
  <h1 class="display-4">{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <form method="post" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="missed_name" class="form-label">Missed Person Name</label>
            <input name="missed_name" id="missed_name" value="{{ request.form['missed_name'] }}" required class="form-control">
          </div>

          <div class="mb-3">
            <label for="since" class="form-label">Since When</label>
            <input name="since" id="since" type="date" value="{{ request.form['since'] }}" required class="form-control">
          </div>

          <div class="mb-3">
            <label for="missing_from" class="form-label">From where</label>
            <input name="missing_from" id="missing_from" value="{{ request.form['missing_from'] }}" required class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-label d-block">Gender</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="male" value="male" {% if request.form['gender'] == 'Male' %}checked{% endif %} required>
              <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="female" value="female" {% if request.form['gender'] == 'Female' %}checked{% endif %} required>
              <label class="form-check-label" for="female">Female</label>
            </div>
          </div>

          <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input name="age" id="age" value="{{ request.form['age'] }}" required class="form-control">
          </div>

          <div class="mb-3">
            <label for="call_on" class="form-label">Call On</label>
            <input name="call_on" id="call_on" value="{{ request.form['call_on'] }}" required class="form-control">
          </div>

          <div class="mb-3">
            <label for="additional_info" class="form-label">Additional Info</label>
            <textarea name="additional_info" id="additional_info" value="{{ request.form['additional_info'] }}" required class="form-control"></textarea>
          </div>

          <div class="mb-3">
            <label for="photo_url" class="form-label">Upload Image</label>
            <input name="photo_url" id="photo_url" type="file" {% if request.form['photo_url'] %}value="{{ request.form['photo_url'] }}"{% endif %} required class="form-control-file">
          </div>

          <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select id="status" name="status" class="form-select" value="{{ request.form['status'] }}">
              <option value="active" {% if status == 'active' %}selected{% endif %}>Active</option>
            </select>
          </div>

          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}