{% extends 'base.html' %}
{% block title %}Missing Persons{% endblock %}
{% block nav %}
    {% if g.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('blog.create') }}">Create</a>
        </li>
    {% endif %}
    {% if g.user['role_id'] == 1 %}
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('admin.dashboard') }}">Admin User</a>
    </li> 
    {% endif %}
{% endblock %}
{% block content %}
  <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center">Have you seen me?</h1>

                <h6 class="text-center">Missing Person</h6>

                <form method="POST" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" action="{{ url_for('blog.search') }}" role="search">
                    <div class="input-group input-group-lg">

                        <input name="query" type="search" class="form-control" id="keyword" placeholder="Search for Missing person ..." aria-label="Search">

                        <button type="submit" class="form-control">Search</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
<section class="featured-section">
  <div class="container">
      <div class="row justify-content-center">

          <div class="col-lg-4 col-12 mb-4 mb-lg-0">
              <div class="custom-block bg-white shadow-lg">
                      <div class="d-flex">
                          <div>
                              <h5 class="mb-2">Have you seen me?</h5>

                              <p class="mb-0">If you see me, talk to me. Don't be afraid to approach me or ask if I need help. Your kindness could make all the difference in bringing me back to safety and reuniting me with my loved ones.</p>
                          </div>
                      </div>
                      <img src="https://c8.alamy.com/comp/HRHH2G/have-you-seen-me-ad-of-missing-girl-missing-children-missing-child-HRHH2G.jpg"custom-block-image img-fluid" alt="">
           
              </div>
          </div>

          <div class="col-lg-6 col-12">
              <div class="custom-block custom-block-overlay">
                  <div class="d-flex flex-column h-100">
                      <div class="custom-block-overlay-text d-flex">
                          <div>
                              <h5 class="text-white mb-2">Welcome to Missing Person Dashboard</h5>

                              <p class="text-white">Every year, thousands of people go missing. Many of them are never found, leaving their families and loved ones in a state of uncertainty and anguish. The Missing Person Search website is dedicated to helping find these missing individuals and bringing closure to their families.</p>

                              <a href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>

                              <p class="text-white">Our website provides a comprehensive database of missing persons, which can be have a search engine. We also offer resources and support for families of missing persons, as well as information on how to report a missing person</p>

                          </div>
                      </div>

                      <div class="section-overlay"></div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section class="hero-section d-flex justify-content-center align-items-center" id="section_1"><br><br>
<div> <h3 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(73, 108, 112);">Missing Person List</h3></div><br><br>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for post in posts %}
    <div class="col">
      <div class="card h-100">
        {% if post['photo_url'] %}
        <img src="{{ url_for('static', filename='uploads/' + post['photo_url']) }}" class="card-img-top" alt="{{ post['missed_name'] }} photo">
        {% endif %}
        <div class="card-body">
          <h1 class="card-title">
            {% if post['status'] == 'active' %}
            <h2 style="color: red; text-align: center">MISSING</h2>
            {% elif  post['status'] == 'resolved' %}
            <h2 style="color: green; text-align: center">FOUND</h2>
            {% endif %}
            </h1>
          <h5 class="card-title" style="color: rgb(17, 0, 255);">
            {{ post['missed_name'] }}
          </h5>
          <ul class="card-text">
            <li><strong>Gender:</strong> {{ post['gender'] }}</li>
            <li><strong>Age:</strong> {{ post['age'] }}</li>
            <li><strong>Missing since:</strong> {{ post['since'] }}</li>
            <li><strong>Last seen:</strong> {{ post['missing_from'] }}</li>
            <li><strong>Call on:</strong> {{ post['call_on'] }}</li>
            <li><strong>Additional info:</strong> {{ post['additional_info']}}</li>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted"> <p class="about">by {{ post['email'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</p></small>
          {% if g.user and g.user['id'] == post['finder_id'] %}
          <a class="btn btn-primary" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <br><br>
</div>
{% endblock %}