{% extends 'base.html' %}

{% block content %}
<section class="topics-detail-section section-padding" id="topics-detail">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mt-5">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Terms and Conditions</h2>
            <p class="card-text">
            </p>
            <ol class="card-text">
              <li>Welcome to the Missing Person app. By using this app, you agree to be bound by these Terms and Conditions. If you do not agree to these Terms and Conditions, please do not use the app.</li>
              <li>The Missing Person app is intended for use by individuals who are seeking information about missing persons or providing information related to missing persons. You agree to use the app for lawful purposes only and in a manner that does not infringe the rights of, or restrict or inhibit the use and enjoyment of, the app by any third party.</li>
              <li>To use certain features of the app, you may be required to create a user account. You must provide accurate and complete information when creating your account. You are responsible for maintaining the confidentiality of your account information, including your username and password. You agree to notify us immediately if you suspect any unauthorized use of your account.</li>
              <li>You retain all rights in, and are solely responsible for, any content that you post or upload to the app, including text, photos, and videos. By posting or uploading content, you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use, copy, modify, create derivative works based on, distribute, publicly display, publicly perform, and otherwise exploit in any manner such content in all formats and distribution channels now known or hereafter devised.</li>
              <li>You agree not to post or upload any content that is illegal, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically, or otherwise objectionable. You also agree not to post or upload any content that contains viruses, malware, or any other harmful code.</li>
              <li>The app and its entire contents, including but not limited to text, graphics, logos, images, and software, are the property of the app owner or its licensors and are protected by copyright, trademark, and other intellectual property laws.</li>
              <li>The app is provided on an "as is" and "as available" basis. The app owner makes no representations or warranties of any kind, express or implied, as to the operation of the app or the information, content, materials, or products included on the app. You expressly agree that your use of the app is at your sole risk.</li>
              <li>The app owner shall not be liable for any damages arising from the use of the app, including but not limited to direct, indirect, incidental, punitive, and consequential damages.</li>
              <li>You agree to indemnify and hold harmless the app owner, its affiliates, and their respective officers, directors, employees, and agents from any claims, damages, liabilities, and expenses (including reasonable attorneys' fees) arising out of your use of the app, your violation of these Terms and Conditions, or your violation of any rights of another.</li>
              <li>The app owner reserves the right to modify these Terms and Conditions at any time without prior notice. Your continued use of the app after any such modifications constitutes your acceptance ofthe modified Terms and Conditions.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}