<!doctype html>
<title>{% block title %}{% endblock %} - Missing</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<nav>
  <h1><a></a>Admin</a></h1>
  <ul>
    {% if g.user %}
      <li><a href="{{ url_for('admin.dashboard') }}">Dashboard</a></li>
      <li><a href="{{ url_for('admin.users') }}">Users</a></li>
      <li><a href="{{ url_for('admin.reports') }}">Reports</a></li>
      <li><a href="{{ url_for('admin.settings') }}">Settings</a></li>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}

</section>
<footer>
  <p>&copy; 2023 Missing Person</p>
</footer>
